.react-flow__edge {
  pointer-events: all;
}

.react-flow__edge-path {
  stroke-width: 2;
  stroke: #6419e6;
}

.react-flow__edge.animated path {
  stroke-dasharray: 5;
  animation: dashdraw 0.5s linear infinite;
}

@keyframes dashdraw {
  from {
    stroke-dashoffset: 10;
  }
}
